#!/sbin/openrc-run

# {{ ansible_managed }}

depend() {
    after network-online
    want cgroups
}

start_pre() {
    rm -f /tmp/k3s.*
}

supervisor=supervise-daemon
name={{ k3s_system_name }}
command="{{ k3s_bin_dir }}/k3s"
command_args={{ 'server' if k3s_is_server | bool else 'agent' }}
    >>{{ k3s_log_file }} 2>&1"

output_log={{ k3s_log_file }}
error_log={{ k3s_log_file }}

pidfile="/var/run/{{ k3s_system_name }}.pid"
respawn_delay=5
respawn_max=0

set -o allexport
if [ -f /etc/environment ]; then . /etc/environment; fi
if [ -f {{ k3s_env_file }} ]; then . {{ k3s_env_file }}; fi
set +o allexport
EOF
    $SUDO chmod 0755 ${FILE_K3S_SERVICE}
