#!/bin/sh
export ETCDCTL_ENDPOINTS='https://localhost:2379'
export ETCDCTL_CACERT='{{ k3s_data_dir }}/server/tls/etcd/server-ca.crt'
export ETCDCTL_CERT='{{ k3s_data_dir }}/server/tls/etcd/server-client.crt'
export ETCDCTL_KEY='{{ k3s_data_dir }}/server/tls/etcd/server-client.key'
export ETCDCTL_API=3
