#!/bin/sh

# {{ ansible_managed }}

set -x
[ \$(id -u) -eq 0 ] || exec sudo \$0 \$@

{{ k3s_killall_sh }}

if command -v systemctl; then
    systemctl disable {{ k3s_system_name | quote }}
    systemctl reset-failed {{ k3s_system_name | quote }}
    systemctl daemon-reload
fi
if command -v rc-update; then
    rc-update delete {{ k3s_system_name | quote }} default
fi

rm -f {{ k3s_service_file | quote }}
rm -f {{ k3s_env_file | quote }}

remove_uninstall() {
    rm -f {{ k3s_uninstall_sh | quote }}
}
trap remove_uninstall EXIT

if (ls {{ k3s_systemd_dir }}/k3s*.service || ls /etc/init.d/k3s*) >/dev/null 2>&1; then
    set +x; echo 'Additional k3s services installed, skipping uninstall of k3s'; set -x
    exit
fi

for cmd in kubectl crictl ctr; do
    if [ -L {{ k3s_bin_dir }}/\$cmd ]; then
        rm -f {{ k3s_bin_dir }}/\$cmd
    fi
done

rm -rf /etc/rancher/k3s
rm -rf /run/k3s
rm -rf /run/flannel
rm -rf /var/lib/rancher/k3s
rm -rf /var/lib/kubelet
rm -f {{ k3s_bin_dir }}/k3s
rm -f {{ k3s_killall_sh }}

if type yum >/dev/null 2>&1; then
    yum remove -y k3s-selinux
    rm -f /etc/yum.repos.d/rancher-k3s-common*.repo
elif type rpm-ostree >/dev/null 2>&1; then
    rpm-ostree uninstall k3s-selinux
    rm -f /etc/yum.repos.d/rancher-k3s-common*.repo
elif type zypper >/dev/null 2>&1; then
    uninstall_cmd="zypper remove -y k3s-selinux"
    if [ "\${TRANSACTIONAL_UPDATE=false}" != "true" ] && [ -x /usr/sbin/transactional-update ]; then
        uninstall_cmd="transactional-update --no-selfupdate -d run \$uninstall_cmd"
    fi
    \$uninstall_cmd
    rm -f /etc/zypp/repos.d/rancher-k3s-common*.repo
fi
